.switchContainer {
  width: 40px;
  height: 22px;
  display: flex;
  border-radius: 20px;
  align-items: center;
  background-color: #3e3752;
  justify-content: flex-start;
  cursor: pointer;

  .switch {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    margin: 0px 5px;
  }
}

.switched {
  justify-content: flex-end;
  background-color: #6647e0;
}
