.switchContainer {
  width: 40px;
  height: 24px;
  display: flex;
  border-radius: 20px;
  align-items: center;
  background-color: #3e3752;
  justify-content: flex-start;
  cursor: pointer;

  .switch {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
    margin: 0px 5px;
  }
}

.switched {
  justify-content: flex-end;
  background-color: #f15000;
}

.disabled {
  cursor: not-allowed;
}
